@import "../../../styles/settings.scss";

// .root {
// }

@mixin outline($color, $border-color) {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $border-color;
  color: $color;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }
}

.main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  @include outline(#2a2a2a, #2a2a2a)
}

.outline-active {
  @include outline(#ffffff, #2a2a2a);
  background-color: $primary;
}
