@import "../../../styles/settings.scss";

.root {
    background-color: $product-bg;
    border-top: 1px solid $product-border-color;
    border-bottom: 1px solid $product-border-color;
    margin-bottom: 2rem;
    padding: 10px 0 10px 0;

  .sliderContainer{
    width: 100%;
  }
}
