@import "../../../styles/settings.scss";

.root {
    margin-bottom: 30px;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .photo {
        margin: 0;
        padding: 0;
        width: auto;
    }

    .horizontal {
        height: 200px;
    }

    .vertical {
        height: 400px;
    }

    .paddingBottom {
       padding-bottom: 15px;
    }

    .paddingTop {
        padding-top: 15px;
    }
}

@media (max-width: 992px){
  .root {
    .noPadding {
      padding-top: 30px;
  }
  }
}
